body {
	background-color: #fff;
}

li {
	font-size: 1em;
	padding: 0px 5px 0px 5px;
}

ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
 	justify-content: flex-end;
 	margin: 0px;
 	padding: 0px;
}

.ul-menu {
	padding: 5px;
}

.main {
	margin: auto;
	width: 600px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	/*text-align: center;*/
	display: block;
}

.bottom-menu {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid grey;
	line-height: 40px;
}

.country {
	border-top: 1px solid grey;
	line-height: 40px;
}

footer {
	background-color: #F2F2F2;

}


